body {
  font-family: "Inter", serif;
  font-optical-sizing: auto;
}
h1 {
  margin-top: 50px;
  text-align: center;
  color: rgb(74, 74, 74);
}

#download-data {
  border: none;
  width: 150px;
  height: 50px;
  background-color: rgb(52, 92, 130);
  color: white;
  display: block;
  margin: auto;
}
#dane-programisty {
  padding-top: 30px;
  margin: auto;
  width: 200px;
}
